<div class="container">
    <h2>Save contact</h2>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Fill the name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Fill the email">
        </div>
        <div class="form-group">
            <label for="email">Telephone</label>
            <input type="text" class="form-control" placeholder="Fill the telephone">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-secondary" routerLink="/">Back</a>
    </form>  
</div>