<div class="container">
    <h2>About</h2>
    <img src="./app/about/breadOfPotato.jpg">
        <strong>
            <br>Project by luisfidelis<br>
            luizsale10@gmail.com<br>
        </strong>
        <div class="btn-toolbar">
            <a target="_blank" class="btn btn-secondary btn-linkedin btn-social-label" href="https://www.linkedin.com/in/luis-philipe-fidelis-fernandes-silva-125430ab/">
                My LinkedIn Profile
            </a>
            <a target="_blank" class="btn btn-secondary btn-linkedin" href="https://www.linkedin.com/in/luis-philipe-fidelis-fernandes-silva-125430ab/">
                <img class="icon-social" src="/app/about/linkedin.png">
            </a>
         </div>
         <div class="btn-toolbar">
                <a target="_blank" class="btn btn-secondary btn-github btn-social-label" href="https://github.com/luisfidelis">
                    My GitHub Profile
                </a>
                <a target="_blank" class="btn btn-secondary btn-github" href="https://github.com/luisfidelis">
                    <img class="icon-social" src="/app/about/github.png">
                </a>
             </div>
        <a class="btn btn-secondary" routerLink="/">Back</a>
</div>